@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    padding:1rem 2%;
    display: flex;
    
    justify-content: space-between;
    z-index: 300;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color:#333;
    font-weight: bolder;
}

body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eed9d9;  
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
.navbar{
    display: flex;
    height: 3 rem;
    background-color: #ffffff;
    align-items: center;
}
.navbar ul li{
    display: inline-block;
    font-size: 1.5rem;
    padding-inline: 12px;
    margin-top: 5px;
    
}
.navbar ul li a{
    color: rgb(19, 7, 7);
    align-items: center;
}
.manual-form{
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    border: #555;
    background-color: rgb(249, 249, 249);
}
.row{
    margin: 10px;
}
.buttons{
    display: flex;
    justify-content: end;
    margin-right: 21px;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 1rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1rem;
}
button:hover{
    background-color: white;
    color: #0ea768;
    border: 1px solid #869fa7;
}
.sub-title{
    background-color: #dae2e4;
    font-weight: bold;
}
.table-form{
    font-size: 10px;
}
.modal-body{
    padding: 5px;
}

